header{
    display:block;
    margin:0 auto;
    width:500px;
    text-align:center;
}

header h1{
    font-family:Arial;
    font-size:60px;
    font-weight:bold;
    margin:20px auto;
}
header div>p,a{
	display:inline-block;
    margin:0 auto;
	height: 20px;
    width:100px;
    padding:10px 10px;
	background-color:#8f7a66;
	font-family:Arial;
    color:white;

    border-radius:10px;
    text-decoration:none;
}

header #newgamebutton:hover{
    background-color:#9f8b77;
}


.panel{
	position: relative;
	width:460px;
	height:460px;
	padding: 20px;
	margin: 10px auto;
	background-color: #bbada0;
	border-radius:10px;
}
.panel-cell{
	position:absolute;
	width:100px;
	height: 100px;
	background-color: #ccc0b3;
	border-radius: 6px;
}
.number-cell{
	position:absolute;
	border-radius: 6px;
	font-family: Arial;
    font-weight:bold;
    font-size:60px;
    line-height:100px;
    text-align:center;
}